.git
.gitignore

node_modules
**/node_modules

.turbo
**/.turbo

dist
**/dist

build
**/build

coverage
**/coverage

playwright-report
**/playwright-report

test-results
**/test-results

blob-report
**/blob-report

.DS_Store

.env
.env.*
!.env.example

packages/*/.tshy
.react-router
**/.react-router
