POSTGRES_DB=cascade
POSTGRES_USER=cascade
POSTGRES_PASSWORD=cascade
POSTGRES_PORT=15432

REDIS_PORT=16379

CLICKHOUSE_DB=cascade
CLICKHOUSE_USER=cascade
CLICKHOUSE_PASSWORD=cascade
CLICKHOUSE_HTTP_PORT=18123
CLICKHOUSE_NATIVE_PORT=19000

RUSTFS_ACCESS_KEY=cascade
RUSTFS_SECRETS_KEY=cascade-password
RUSTFS_REGION=us-east-1
RUSTFS_API_PORT=19090
RUSTFS_CONSOLE_PORT=19091
